.profile-container {
    display: flex;
    background-color: #f8fafc; 
    border-radius: 1rem; 
    padding: 2rem; 
  }
  
  .profile-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .profile-image {
    width: 10rem; 
    height: 10rem; 
    border-radius: 50%; 
  }
  
  .profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .username {
    color: black;
    font-family: sans-serif;
  }
  
  .designation {
    font-family: sans-serif;
  }
  