.profile-container {
    display: flex;
    background-color: #f8fafc; /* Equivalent to bg-slate-100 */
    border-radius: 1rem; /* Equivalent to rounded-xl */
    padding: 2rem; /* Equivalent to p-8 */
  }
  
  .profile-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .profile-image {
    width: 10rem; /* Equivalent to w-12 */
    height: 10rem; /* Equivalent to h-12 */
    border-radius: 50%; /* Equivalent to rounded-full */
  }
  
  .profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .username {
    color: black;
    font-family: sans-serif;
  }
  
  .designation {
    font-family: sans-serif;
  }
  